$white: #fff;
$white_10: rgba(255,255,255,0.1);
$white_20: rgba(255,255,255,0.2);
$white_40: rgba(255,255,255,0.4);
$white_60: rgba(255,255,255,0.6);
$white_90: rgba(255,255,255,0.9);

$black: #000;
$black_10: rgba(0,0,0,0.1);
$black_20: rgba(0,0,0,0.2);
$black_40: rgba(0,0,0,0.4);
$black_60: rgba(0,0,0,0.6);
$black_90: rgba(0,0,0,0.9);

$font_0: Raleway;
$font_1: sans-serif;
