@-webkit-keyframes ball-scale-multiple {
  0% {
    height: 100%;
    opacity: .6;
    top: 0;
  } 50% {
    opacity: 0;
    height: 0%;
    top:50%;
  } 100% {
    opacity: .8;
    height: 100%;
    top:0;
  }
}
// @keyframes ball-scale-multiple {
//   0% {
//     transform: scale(0) rotate(-90deg);
//     opacity: 0;
//   } 5% {
//     opacity: 1;
//   } 100% {
//     transform: scale(1.2) rotate(90deg);
//     opacity: 0;
//   }
// }
