@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: $white;
  font-family: $font_0, $font_1;
  margin: 0;
  padding: 0;
}
* {box-sizing: border-box;}
a {
  color: $white;
  font-size: 14px;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}
.pre {
  display: inline-block;
  padding: 20px;
  background: #f1f1f1;
  box-shadow: 3px 3px 0 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}
